.formulario{
    border: 3px;
    border-style: groove;
    border-color: #0db2ac;
    border-radius: 15px;
    width: fit-content;
    padding: 50px;
    margin: 0 auto;
}

.input{
    width: 600px;
}

.label{
    text-align: left;
}