.Card{
    border-radius: 10px;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    width: 300px;
    height:auto;
    margin-bottom: 20px;
}

img{
    border-radius: 999999999999999999999999999999999999999px;
}

.link{
    text-decoration: none;
}