.Landing{
    margin: 0;
    padding: 0;
    background-position:center;
    background-size:cover;
    background-image: url(./fondoLanding.jpg);
}

.imagePrincipal{
    width: 900px;
    height: auto;
    border-radius: 30px;
}

@font-face {
    font-family: "Preahvihear";
    src: url("../../fonts/Preahvihear-Regular.ttf");
  }
  
  *{
    font-family: "Preahvihear";
  }

  button{
    height: 50px;
    width: 220px;
    background-color: #faba32;
    color: #fc694d;
    font-weight: 600;
  }

  .link{
    text-decoration: none;
  }

  .link:visited{
    color:#fc694d;
  }

  .link:hover{
    font-size: 20px;
    color:rgb(248, 4, 65);
  }


  figcaption{
    font-size: 18px;
    text-align:right;
    margin-right: 230px;
    color: rgb(248, 4, 65);
    font-weight: 900;
  }